<section id="general">
  <div class="d-flex justify-content-center">
    <div class="animals"> <img class="mx-auto" src="images/top_img.jpg" width="600" height="400" alt="dog, cat, turtle">
    </div>
  </div>
  
  <div>
    <!--pink stripe -->
    <div style="height: 1px;0px;border-top:15px solid #EBD4FC"></div>
  </div>

  <div class="d-flex justify-content-center circles">
    <img class="img-responsive" src="images/cats.png" width="200" height="200" alt=" Cats clipart">
    <img class="img-responsive" src="images/dogs.png" width="200" height="200" alt="Dogs clipart">
    <img class="img-responsive" src="images/turtles.png" width="200" height="200" alt="Turtle clipart">
  </div>

  <div id="homePage-Subtitle">
    <h1>Pets Available For Adoption</h1>
  </div>

<div class="card-group justify-content-center">
<div class="d-flex justify-content-center boxes">
    {{#if logged_in}}
      {{#each animals as |animal|}}
        <div class="card m-3">
          <div class="card-header">
            <img class="img-responsive" src="images/{{animal.name}}.png" width="200" height="200"
              alt="image of {{animal.name}}">
          </div>
          <div class="card-body">
            <h1>{{animal.name}}</h1>
            Age: {{animal.age}}<br />
            Breed: {{animal.breed}}<br />
            Contact number: {{animal.contact}}
          </div>
          <div class="card-footer text-center">
            <!-- need to create a POST route for cart -->
            {{!-- <form method="get" action="/basket"> --}}
              {{!-- <input name="id" id="id" type="hidden" value="{{this.dataValues.id}}" /> --}}
              <button data-id="{{animal.id}}" class="btn Sign-Button">Add to basket</button>
              {{!--
            </form> --}}
          </div>
        </div>
      {{/each}}
    {{else}}
    {{#each animals as |animal|}}
    <div class="card m-3">
      <div class="card-header">
        <img class="img-responsive" src="images/{{animal.name}}.png" width="200" height="200"
          alt="image of {{animal.name}}">
      </div>
      <div class="card-body">
        <h1>{{animal.name}}</h1>
        Age: {{animal.age}}<br/>
        Breed: {{animal.breed}}<br/>
        Contact number: {{animal.contact}}
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>
</section>
<script src="/js/cart.js"></script>