<section>
    <h1 id="shoppingBasket-Title">MY BASKET</h1>

    <div class="container">
        {{#each carts as |cart|}}
        {{#each cart.animals as |animal|}}
        <div class="d-grid col">
            <div class="card m-3">
                <div class="card-header">
                    <img class="img-responsive" src="images/{{animal.name}}.png" width="200" height="200"
                        alt="image of {{animal.name}}">
                </div>
                <div class="card-body">
                    <h1>{{animal.name}}</h1>
                    Age: {{animal.age}}<br />
                    Breed: {{animal.breed}}<br />
                    Contact number: {{animal.contact}}
                </div>

                {{!-- <div class="row align-items-start">
                    <div class="d-grid col-sm-2">
                        <button>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="d-grid col-sm-2">
                        <button>
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div> --}}


            </div>


            
        </div>
        {{/each}}
        {{/each}}
        <div class="row justify-content-center">
                <div class="d-grid col-sm-4">
                    <a class="btn checkout-Button" href="/adopt" id="checkoutBtn" type="submit">Adopt</a>
                </div>
            </div>
    </div>
</section>


{{!-- <script src="/js/login.js"></script> --}}