<section>
    <h1 id="shoppingBasket-Title">MY BASKET</h1>

    <div class="container">
         {{!-- {{#each animals}} --}}
        <div class="d-grid col">
            <div class="card m-3">
                <div class="card-header">
                    <img class="img-responsive" src="images/{{this.dataValues.name}}.png" width="200" height="200"
                        alt="image of {{this.dataValues.name}}">
                </div>
                <div class="card-body">
                    <h1>{{this.dataValues.name}}</h1>
                    Age: {{this.dataValues.age}}<br />
                    Breed: {{this.dataValues.breed}}<br />
                    Quantity: {{this.dataValues.quantity}}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-grid col-sm-4">
                    <button class="btn checkout-Button" id="checkoutBtn" type="submit">Checkout</button>
                </div>
            </div>
        </div>
         {{!-- {{/each}} --}}
    </div>
</section>

{{!--
<script src="/js/login.js"></script> --}}